<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Titulo de la página -->
    <title>Esto es un template</title>
    <!-- Cargamos un favicon -->
    <link rel="icon" type="image/png" href="img/favicon.ico" />
    <!-- Cargamos una fuente desde internet -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
    <!-- Cargamos un archivo css -->
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body>
    <!-- Contenido header -->
    <header>
      <div>
        <div class="logo">
          <img src="img/logo-uach.png" alt="Logo UACH" width="50" height="60" />
        </div>
        <div>
          <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </div>
      </div>
    </header>
    <!-- Fin header -->

    <!-- Contenido principal -->
    <h1>Esto es un template</h1>
    <main>
      <section>
        <!-- Articulo 1 -->
        <article>
          <h2>Titulo de la sección</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            voluptates, quod, quia, voluptate quae voluptatem quibusdam
            consequuntur quidem quos voluptatum quas. Quisquam, quae. Quisquam
            voluptates, quod, quia, voluptate quae voluptatem quibusdam
            consequuntur quidem quos voluptatum quas. Quisquam, quae.
          </p>
        </article>
        <!-- Fin Articulo 1 -->

        <!-- Articulo 2 -->
        <article>
          <h2>Titulo de la sección</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            voluptates, quod, quia, voluptate quae voluptatem quibusdam
            consequuntur quidem quos voluptatum quas. Quisquam, quae. Quisquam
            voluptates, quod, quia, voluptate quae voluptatem quibusdam
            consequuntur quidem quos voluptatum quas. Quisquam, quae.
          </p>
        </article>
        <!-- Fin Articulo 2 -->
      </section>
    </main>
    <!-- Fin contenido principal -->
  </body>
</html>
